body{
  background-color: #2a2a2a;
}

p{
  font-family: 'inde Flower',cursive;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 0 #232931;
}

h1{
  font-family:'Lobster',cursive;
  color: #28a428;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

.title{
  font-size: 5rem;
}


.container{
  text-align: center;
  margin: auto;
  width: 70%;
}

.dice{
  text-align: center;
  display:inline-block;
  padding:50px;
}
